@model GolfMatrix.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TournamentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TournamentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelSGTLs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelSGTLs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrassType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrassType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Par5Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Par5Count)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Par4Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Par4Count)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Par3Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Par3Count)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Outcomes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Outcomes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseTop6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseTop6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseMap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseMap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeatherConsiderations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeatherConsiderations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatSheet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatSheet)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CourseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
